.about {
  width: 100%;
  min-height: 90vh;

  padding: 160px 0;

  background: #212121;
  color: #f4eadb;

}

.about-content {
  width: min(1100px, calc(100% - 80px));
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.name{
  padding: 5px;
  border-radius: 10px;
  background: #9e8b98db;
  
  color: #55123e;
}
.wgl{
  text-decoration:line-through;
}
.lowkey{
  color: #814e6f;
}


/* LEFT */

.about-left {
  max-width: 560px;
  
 
  padding: 20px;
}

.about-left p {
  margin: 0 0 25px;

  font-family: "Manrope", sans-serif;
  font-size: 16px;

  line-height: 1.9;

  color: #c8c1ba;
}
.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-poster {
  width: 65%;
  height: auto;
  display: block;
  object-fit: contain;

  transform: rotate(2deg);

  transition:
    transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    filter 0.5s ease;
}

.about-poster:hover {
  transform: rotate(0deg) scale(1.025);
}

/* RIGHT SIDE INTENTIONALLY EMPTY */

.about-content::after {
  content: "";
}


/* MOBILE */

@media (max-width: 800px) {

  .about {
    padding: 100px 0;
  }

  .about-content {
    width: calc(100% - 40px);
    grid-template-columns: 1fr;
  }

  .about-left h2 {
    font-size: 65px;
  }
}