
 <!-- <p class="footer-role"> ....this is me <br>
    Software developer • Socially idiot
  </p> -->
  <section id="about" class="about">

  <div class="about-content">

    <div class="about-left">

      <p>
        iam <span class="name">Abhi</span> a 23years old idiot, a software developer from <span class="wgl">warangal </span>🍼 -> Hyderabad 🎓 & 💼
      </p>

      <p>
        before i was a developer, i was a socially lazy by watching shows to playing online games
      </p>

      <p>
        these days, i'm haven't touched grass in the world of freedom
      </p>

      <p>
        i may not GPT, i ships with effort, care and taste., <br> <span class="lowkey"> i can low key learn anything</span>
      </p>

    </div>
   <div class="about-right">
  <img
    src="/myid.png"
    alt="Abhi"
    class="about-poster"
  />
</div>

  </div>

</section>