<nav class="nav">

  <!-- One Piece Crew -->
  <img
    src="/onepiece.png"
    alt="One Piece Crew"
    class="onepiece-image"
  />

  <div class="nav-center">

    <!-- <a href="#about" class="nav-link">
      <span>about</span>
    </a>

    <a href="#work" class="nav-link">
      <span>work</span>
    </a>

    <a href="#experience" class="nav-link">
      <span>history</span>
    </a>

    <a href="#contact-details" class="nav-link">
      <span>connect</span>
    </a> -->


  </div>

</nav>