* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  background: #212121;

  overflow-x: hidden;
}

.page {
  width: 100%;
  min-height: 100vh;

  background: #212121;
}

.page-content {
  width: min(1200px, calc(100% - 80px));
  margin: 0 auto;
}