@import "tailwindcss";


body {
  font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

/* utility classes you can use anywhere */
.font-retro  { font-family: 'VT323', 'Courier New', Courier, monospace; }
.font-elite  { font-family: 'Special Elite', 'Courier New', Courier, monospace; }


