<section id="about2" class="about2">
  <p class="about2-heading">
    <span class="heading-main">
      so, how did i get here?
    </span>

    <span class="heading-muted">
      a quick tour,
    </span>

    <span class="heading-year">
      2003 to now.
    </span>
</p>

  <div class="timeline">
    <div class="timeline-item item-2003">

      <button
        class="timeline-trigger"
        type="button"
        aria-label="Childhood 2003"
      >

        <span>kiddo</span>


        <!-- PHOTO -->

        <div class="timeline-card">

          <img
            src="/journey-1.jpg"
            alt="Childhood"
          />

          <div class="timeline-info">
            <p>
              where it all started.
            </p>

          </div>

        </div>

      </button>
    </div>





    <div class="timeline-item item-2020">

      <button
        class="timeline-trigger"
        type="button"
        aria-label="Lockdown 2020"
      >

        <span>lockDown</span>


        <div class="timeline-card">
          <img
            src="/journey-2.jpg"
            alt="Lockdown"
          />
          <div class="timeline-info">
            <p>
              the world stopped.
            </p>
          </div>
        </div>
      </button>
    </div>





    <div class="timeline-item item-2021">

      <button
        class="timeline-trigger"
        type="button"
        aria-label="College 2021"
      >

        <span>2021</span>


        <div class="timeline-card">

          <img
            src="/journey-3.jpg"
            alt="College"
          />

          <div class="timeline-info">
            <p>
              print("hello world")
            </p>
          </div>
        </div>
      </button>
    </div>



    <div class="timeline-item item-2025">

      <button
        class="timeline-trigger"
        type="button"
        aria-label="Present 2025"
      >

        <span>present</span>


        <div class="timeline-card">

          <img
            src="/journey-4.jpg"
            alt="Present"
          />

          <div class="timeline-info">
            <p>
                just living
            </p>
          </div>
        </div>
      </button>
    </div>
  </div>

</section>